.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 20px;
}

.about-title{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: auto 20px;
}

.about-container > p {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 20px;
}

.about__introduction {
    max-width: 720px;
    margin: 50px 20px;
}

.logo-agb-container {
    margin: 100px 0;
}

.about-logo {
    width: 300px;
    height: auto;
}