.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 20px;
}

.about-title{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: white;
    margin-block-start: 0;
    margin-block-end: 0;
    margin: auto 20px;
}

.about-container > p {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 20px;
}

.about__introduction {
    max-width: 720px;
    margin: 50px 20px;
}

.logo-agb-container {
    margin: 100px 0;
}

.about-logo {
    width: 300px;
    height: auto;
}

.download-button {
    background:linear-gradient(rgb(98,152,216), rgb(100,154,216)) ;
    border: 1px solid white;
    border-radius: 6px;
    padding: 12px 20px;
    cursor: pointer;
}

.download-button a {
    color: white;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

.download-button:hover {
    background: #62bbd6;
}